<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">

      <div class="footer-col footer-col">
          <img src="{{site.baseurl}}/img/RF-F2030.png" width="30%" height="20%" />
          <img src="{{site.baseurl}}/img/Logo_MF.png" width="10%" height="10%" />
          <img src="{{site.baseurl}}/img/logo_cnrs_page_accueil.png" width="10%" height="10%" />
          <img src="{{site.baseurl}}/img/cea.jpg" width="10%" height="10%" />
      </div>

      <div class="footer-col footer-col">
        <ul class="contact-list">
          <li>contact: <a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>

    </div>

  </div>

</footer>
